* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.container {
  min-height: 200vh;
}

p {
  font-size: 50px;
}

.spacer {
  height: 100vh;
  margin-block: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: repeating-linear-gradient(
    45deg,
    #606dbc33,
    #606dbc33 10px,
    #606dbc00 10px,
    #606dbc00 20px
  );
}

//intro parallax
.object-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.object-wrapper ~ .object-wrapper {
  justify-content: end;
}

.object {
  border: 5px solid blue;
  width: 30%;
  height: 50vh;
  opacity: 1;
  border-radius: 10px;
}

// slider
.h-50 {
  height: 50vh;
}
.h-75 {
  height: 75vh;
}
.h-100 {
  height: 100vh;
}

.slider-mask {
  border: 5px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.slider-track {
  height: 100%;
  display: inline-flex;
  border: 5px solid red;
  border-radius: 5px;
}

.slider-track .screen {
  width: calc(100vw - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid blue;
}

// zoom
.zoom-container {
  height: calc(100vh - 40px);
  margin-block: 10px;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
}

.zoom {
  border: 3px solid rgb(255, 0, 0);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#zoom-element {
  position: absolute;
  background: rgba(194, 194, 194, 0.8);
  bottom: 40%;
  left: 20%;
  right: 20%;
  height: 40%;
}

// parallax
.parallax-container {
  height: calc(100vh - 40px);
  margin-block: 10px;
  padding: 10px;
  border: 5px solid black;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
}

.parallax-element {
  border: 3px solid rgb(255, 0, 0);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#element-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
  background: rgba(194, 194, 194, 0.8);
}

#element-2 {
  position: absolute;
  bottom: 20px;
  left: 40px;
  width: 25%;
  height: 40%;
  background: rgba(192, 192, 192, 0.8);
}

#element-3 {
  position: absolute;
  bottom: 30px;
  right: 100px;
  width: 10%;
  height: 10%;
  background: rgba(255, 255, 255, 0.8);
}

// dessin
#template,
#path {
  fill: none;
}

#template {
  stroke-width: 5px;
  stroke: #444;
}

#path {
  stroke: #0ae448;
  stroke-width: 20px;
  visibility: hidden;
}

.draw-svg {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover {
  background: white;
  color: #000;
  transform: scale(1.1);
  border-radius: 100%;
}

// Curseur Customiser
// Important : ajouté un div vide dans le html avec la bonne class

.cursor {
  width: 15px;
  height: 15px;
  z-index: 11;
  border-radius: 15px;
  background: #982d3d;
  position: fixed;
  pointer-events: none;
  transition: transform 0.3s ease;
  opacity: 0;
}

.cursor.link-hover {
  background: #982d3d;
  transform: scale(1.5);
}

body {
  cursor: none;
}

body:hover .cursor {
  opacity: 1;
}

// levitation
.levitation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100vh;
}

.levitation-object {
  width: 150px;
  height: 150px;
  border: 5px solid black;
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.8);
  animation: slide-in 5s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes slide-in {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(100%);
  }

  50% {
    transform: translateY(100%);
  }

  0% {
    transform: translateY(-0%);
  }
}
